@using Web.Models
@{
    LayoutModel myModel = ViewBag.LayoutModel;
    ViewBag.Title = "About Us";
}


<div class="container">

    <h1 class="text-center">ABOUT FIT BODY BOOT CAMP</h1>

    <div class="row">
        <div class="col-sm-12">

            <p>Fit Body Boot Camp does one thing, and we do it better than anyone else. We're about delivering personal trainer designed and lead fitness and fat loss workouts in a fun, safe, high intensity group training workout program. With hundreds of Fit Body Boot Camp locations worldwide, our mission is focused on our "2020 vision" which is to expose and engage 20 percent of the world's population to a healthy and fit lifestyle by the year 2020.</p>

            <p>As an industry leading fitness brand we feel that we have a greater responsibility not only globally through our 2020 vision, but locally as well, to the clients in the communities that we serve and the neighborhoods we operate our fitness centers from. Which is why we believe in getting involved with our communities and contributing locally whenever possible. That's what being a good neighbor is all about. So when you step foot into a Fit Body Boot Camp location you can expect a clean, friendly, and fun high energy workout environment that's not only a place to get fit and healthy, but a place to make friends with others in your community.</p>
        </div>
    </div>

</div>

